<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.talelin.latticy.mapper.SpecKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.talelin.latticy.model.SpecKeyDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="name" property="name" />
        <result column="unit" property="unit" />
        <result column="standard" property="standard" />
        <result column="description" property="description" />
    </resultMap>
    
    <resultMap id="DetailResultMap" autoMapping="true" type="io.github.talelin.latticy.model.SpecKeyDetailDO">
        <id column="id" property="id" />
        <collection property="valueList" ofType="io.github.talelin.latticy.model.SpecValueDO">
            <id column="v_id" property="id" />
            <result column="value" property="value"></result>
            <result column="extend" property="extend"></result>
        </collection>
    </resultMap>

    <select id="getBySpuId" resultMap="BaseResultMap">
        SELECT ck.*
        FROM spec_key ck INNER JOIN spu_key uk ON ck.id=uk.spec_key_id
        WHERE uk.spu_id = #{id} AND ck.delete_time IS NULL
    </select>

    <select id="getDetail" resultMap="DetailResultMap">
        SELECT sk.*,sv.id v_id,sv.value,sv.extend
        FROM spec_key sk LEFT JOIN spec_value sv ON sv.spec_id=sk.id
        WHERE sv.spec_id = #{id}
    </select>
</mapper>
