<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.talelin.latticy.mapper.SpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.talelin.latticy.model.SpuDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="title" property="title" />
        <result column="subtitle" property="subtitle" />
        <result column="category_id" property="categoryId" />
        <result column="root_category_id" property="rootCategoryId" />
        <result column="online" property="online" />
        <result column="price" property="price" />
        <result column="sketch_spec_id" property="sketchSpecId" />
        <result column="default_sku_id" property="defaultSkuId" />
        <result column="img" property="img" />
        <result column="discount_price" property="discountPrice" />
        <result column="description" property="description" />
        <result column="tags" property="tags" />
        <result column="is_test" property="isTest" />
        <result column="spu_theme_img" property="spuThemeImg" />
        <result column="for_theme_img" property="forThemeImg" />
    </resultMap>

    <resultMap autoMapping="true" id="DetailResultMap" type="io.github.talelin.latticy.model.SpuDetailDO">
        <id column="id" property="id" />
        <collection property="spuImgList" ofType="java.lang.String">
            <constructor>
                <arg column="spu_img"/>
            </constructor>
        </collection>
        <collection property="spuDetailImgList" ofType="java.lang.String">
            <constructor>
                <arg column="spu_detail_img"/>
            </constructor>
        </collection>
    </resultMap>

    <select id="getDetail" resultMap="DetailResultMap">
        SELECT spu.*,sku.title AS default_sku_title,
            c.name AS category_name,
            sk.name AS sketch_spec_key_name,
            si.img AS spu_img,
            sdi.img AS spu_detail_img
        FROM spu
        LEFT JOIN sku ON sku.id = spu.default_sku_id
        LEFT JOIN category c ON c.id = spu.category_id
        LEFT JOIN spec_key sk on sk.id = spu.sketch_spec_id
        LEFT JOIN spu_img si ON si.spu_id = spu.id
        LEFT JOIN spu_detail_img sdi on sdi.spu_id = spu.id
        WHERE spu.id = #{id} AND spu.delete_time IS NULL
    </select>

    <select id="getListForTheme" resultMap="BaseResultMap">
        SELECT s.*
        FROM spu s
        WHERE s.id NOT IN (SELECT ts.spu_id FROM theme_spu ts WHERE ts.theme_id = #{themeId});
    </select>
</mapper>
